<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>
		Editar datos de producto
	</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Inicio</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div classs="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<h1 class="text-center">Editar datos de productos</h1>
				<div class="card-body">
					<form th:action="@{/listadoP/{id}(id=${producto.id})}" th:object="${producto}" method="post">
						<div class="form-group">
							<label>Nombre producto</label>
							<input type="text" name="nombre" th:field="*{nombreProducto}" class="form-control"
								placeholder="Ingrese nombre del producto" required>
						</div>

						<div class="form-group">
							<label>Tipo de producto</label>
							<select id="tipo" name="tipo" class="form-control" th:field="*{tipoProducto}" required
								autofocus="autofocus">
								<option value="Abarrote">Abarrote</option>
								<option value="Perecible">Perecible</option>
								<option value="No perecible">No perecible</option>
								<option value="Carnes">Carnes</option>
								<option value="Verduras">Verduras</option>
							</select>
						</div>

							<div class="form-group">
								<label>Stock</label>
								<select id="stock" name="stock" class="form-control" th:field="*{stockProducto}" required
									autofocus="autofocus">
									<option value="En stock">En stock</option>
									<option value="Sin stock">Sin stock</option>
				
								</select>
							</div>

								<div class="form-group">
									<label>Precio (soles)</label>
									<input type="number" step="0.01" name="precio" th:field="*{precioProducto}" class="form-control"
										placeholder="Ingrese precio del producto" required>
								</div>
								
								<div class="box-footer">
									<button class="btn btn-success">Guardar producto</button>
								</div>

					</form>

				</div>

			</div>
		</div>
	</div>



	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</htmlxmlns:th="http: //www.thymeleaf.org">