<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/index}">Inicio</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
							sesión</a></li>

				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>


	<div class="container">
		<h1>Bienvenido al Portal Web de Venta de Abarrotes</h1>
		<br>
		<h4 sec:authorize="isAuthenticated()">
			Bienvenido, <span sec:authentication="principal.username"></span>
		</h4>
		
		<div>Rol: <span sec:authentication="principal.authorities[0].authority"></span></div>

		<br>
		<hr>
		<form th:action="@{/listadoU}" method="get">
			<div class="col-md-6 col-md-offset-3">
				<strong>
					<h4 class="col-md-6 col-md-offset-3">Seleccione la acción a realizar:</h4>
				</strong>
				<input type="submit" class="form-control btn btn-primary"
					value="Listar usuarios" />





			</div>
		</form>

		<form th:action="@{/listadoP}" method="get">
			<div class="col-md-6 col-md-offset-3">

				<input type="submit" class="form-control btn btn-primary"
					value="Listar productos" />





			</div>
		</form>

		<form th:action="@{/listadoE}" method="get">
			<div class="col-md-6 col-md-offset-3">

				<input type="submit" class="form-control btn btn-primary"
					value="Listar establecimientos" />





			</div>
		</form>



		

		<br> <br>




		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
</body>

</html>